<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <body>
    <h1>Welcome {{session.userinfo.name}}!</h1>
    <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
    <div><pre>school: {{school}}</pre></div>
	<div><pre>role: {{role}}</pre></div>
	<div><pre>
	<form action="/getTutors" method = "POST">
  <label for="classes">Choose a class:</label>
  <select id="classes" name="class">
  	{% for class in classes %}
<option value={{class}}>{{class}}</option>
{% endfor %}
  </select>
  <input type="submit" value="Get Tutor!">
</form>
</pre></div>
<div><pre> Review a Tutor:
<form action="/review" method="POST">
  <label for="tutors">Choose a tutor: </label>
  <select id="tutors" name="tutor">
  	{% for tutor in tutors %}
<option value={{tutor.get("name")}}>{{tutor.get("name")}} with exp: {{tutor.get("exp")}}</option>
{% endfor %}
  </select>
	<input type="radio" name="rating" value="1">1
	<input type="radio" name="rating" value="2">2
	<input type="radio" name="rating" value="3">3
	<input type="radio" name="rating" value="4">4
	<input type="radio" name="rating" value="5">5
  <input type="submit" value="Review!">
</form>
</pre></div>
  </body>
</html>
