@charset "utf-8";

body {
	background-color:#7c7c7c;
}

.display-1 {
	position: relative;
	text-align: center;
	top: 20%;
	
}


.display_info {
    border-collapse:separate;
    border:3px;
	border-color:#FFFFFF;
    border-radius:5px;
	background-color:#FFFFFF;
	position:fixed;
	top:15%;
	right:1.3%;
	width:15%;
	height:15%;
}

tr {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

td {
	font-famifont-style: normal;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #000000;
	font-size: 20px;
	text-align: center;
	padding:10px;
}

.log_out {
	position:fixed;
	right:1.35%;
	top:5%;
	border-radius:5px;
	background-color:#FFFFFF;
	border:3px solid white;
	font-size:20px;
	font-weight:bold;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:#8e9190;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

.change_school {
	position:relative;
	color:white;
	border-radius:15px;
	background-color:#545555;
}





.center_box {
	position:absolute;
	left:25%;
	top:20%;
	background-color:#ffffff;
	border-radius:25px;
	width:50%;
	font-family: "playfair-display";
	height:60%;
	border:10px solid rgb(0, 0, 0);
}

.welcome_message {
	position: absolute;
	width:30%;
	float: left;
	top: 15%;
	font-size:30px;
	color: #960000;
}



.search_bar {
	position:relative;
	left: 20%;
	width: 60%;
	top: 10%;
	font-size:30px;
}

.select_class_label {
	position:relative;
	color:#FFFFFF;
	left:20%;
	font-weight:bold;
}


.dropdown_menu {
	position:relative;
	font-family:doppio-one;
	color:#FFFFFF;
	height:20%;
	left:20%;
}

optgroup {
	font-size: 22px;
	color: #ffffff;
}

option {
	font-size: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#18453B;
}

.search_button {
	position:absolute;
	left:34%;
	top:160%;
	width:160px;
	height:40px;
	background-color:#FFFFFF;
	border-radius:15px;
	border:0px;
	font-family:"hammersmith-one";
	font-weight:bold;
	font-size:20px;
	color:#18453B;
}

.button {
	position: relative;
	top:200px;
	height: 75px;
	font-size:30px;
	border-radius: 15px;
}